phpAPP_NAME=SistemaFCA
APP_ENV=local
APP_KEY=base64:DjdD7LhbbUNA1fkEMF6yQXIDNxFil5L3w8wUNLiyaWw=
APP_DEBUG=true
APP_URL=https://sistemafca.demos.mx

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=sistemafca_main
DB_USERNAME=root # sistemafca_admin  (preguntar cuales permisos tiene)
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=sendgrid
MAIL_MAILER=sendgrid
SENDGRID_API_KEY=


#MAIL_MAILER=smtp
#MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=morales.lamv@gmail.com
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


# MS Graph API
# Administrar la app en https://entra.microsoft.com/#home con tu cuenta institucional
OAUTH_APP_SECRET=
OAUTH_APP_SECRET=

# Produccion
# OAUTH_REDIRECT_URI=https://sistemafca.demos.mx/callback

# Desarrollo, pon aquí la url de tu servidor local, para poder usar el login (descomenta la que uses)
OAUTH_REDIRECT_URI=http://localhost/callback                        # Tienes apache2 configurado
# OAUTH_REDIRECT_URI=http://localhost:8000/callback                 # Usas php artisan serve
# OAUTH_REDIRECT_URI=http://localhost/sistemafca/public/callback    # Usas xampp

OAUTH_SCOPES='User.Read'
OAUTH_AUTHORITY=https://login.microsoftonline.com/3c907651-d8c6-4ca6-a8a4-6a242430e653
OAUTH_AUTHORIZE_ENDPOINT=/oauth2/v2.0/authorize
OAUTH_TOKEN_ENDPOINT=/oauth2/v2.0/token

# TENANT_ID=3c907651-d8c6-4ca6-a8a4-6a242430e653      # Solo usuarios UV, =common es para cualquier outlook





# Active Directory con LdapRecord, si a alguien no le gusta el MS Graph, que lo haga con esto (buena suerte sacando los datos personales)
# PD: tienes que instalarlo, lo borré al no ser utilizado

# LDAP_LOGGING=true
# LDAP_CONNECTION=default
# LDAP_CONNECTIONS=default

# LDAP_DEFAULT_HOSTS=148.226.200.5,148.226.210.8,148.226.220.4,148.226.223.5,148.226.12.12,148.226.12.23
# # LDAP_DEFAULT_HOSTS=ldap.forumsys.com # Servidor de prueba
# LDAP_DEFAULT_USERNAME=null
# LDAP_DEFAULT_PASSWORD=null
# LDAP_DEFAULT_PORT=389
# LDAP_DEFAULT_BASE_DN="dc=intra,dc=uv,dc=mx"
# LDAP_DEFAULT_TIMEOUT=3
# LDAP_DEFAULT_SSL=false
# LDAP_DEFAULT_TLS=false
# LDAP_DEFAULT_SASL=false